.FancyBorder {
  border: 2px solid #aaa;
  padding: 10px;
  border-radius: 5px;
}

.FancyBorder-blue {
  border-color: blue;
}

.SplitPane {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.SplitPane-left {
  width: 250px;
  height: 250px;
  background-color: rgb(198, 243, 243);
}

.SplitPane-right {
  width: 250px;
  height: 250px;
  background-color: rgb(203, 182, 206);
}

.container {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid grey;
}

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
}